<?xml version = "1.0" encoding = "UTF-8"?>

<widget xmlns = "http://www.w3.org/ns/widgets" 
   xmlns:gap = "http://phonegap.com/ns/1.0"
   id = "com.lingaraj.senapati" 
   version = "2.0">
   
   <name>Demo App Version 2.0</name>
   
   <description>
      Lingaraj Senapati Online View
   </description>
   
   <author href = "http://tutorialspoint.com" email = "contact@tutorialspoint.com">
      Tutorials Point
   </author>
   
   <preference name = "permissions" value = "none"/>
   
   <icon src = "school.png"/>
		
   
</widget>